alembic
annotated-types
anyio
asttokens
axios
backports.functools-lru-cache
bcrypt
blinker
certifi
chardet
charset-normalizer
click
colorama
copier
decorator
distlib
dnspython
dunamai
email-validator
emoji
executing
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
flet
flet-core
flet-runtime
forex-python
funcy
googletrans
greenlet
gunicorn
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
indic-transliteration
ipython
itsdangerous
jedi
Jinja2
jinja2-ansible-filters
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-sqlalchemy
matplotlib-inline
mdurl
oauthlib
packaging
parso
pathspec
platformdirs
plumbum
prompt-toolkit
psycopg2-binary
pure-eval
pydantic
pydantic_core
pyfiglet
pygame
Pygments
PyJWT
pypng
python-dateutil
python-dotenv
pywin32
PyYAML
pyyaml-include
qrcode
questionary
regex
repath
requests
rfc3986
rich
roman
simplejson
six
sniffio
SQLAlchemy
stack-data
toml
traitlets
typer
typing_extensions
urllib3
virtualenv
watchdog
wcwidth
websocket-client
websockets
Werkzeug
WTForms
